<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.1/6.0 MB 1.1 MB/s eta 0:00:06
      --------------------------------------- 0.1/6.0 MB 1.4 MB/s eta 0:00:05
     - -------------------------------------- 0.3/6.0 MB 2.1 MB/s eta 0:00:03
     --- ------------------------------------ 0.5/6.0 MB 3.0 MB/s eta 0:00:02
     ----- ---------------------------------- 0.8/6.0 MB 3.5 MB/s eta 0:00:02
     ------ --------------------------------- 1.0/6.0 MB 3.5 MB/s eta 0:00:02
     ------- -------------------------------- 1.2/6.0 MB 3.7 MB/s eta 0:00:02
     --------- ------------------------------ 1.4/6.0 MB 4.0 MB/s eta 0:00:02
     ----------- ---------------------------- 1.7/6.0 MB 3.9 MB/s eta 0:00:02
     ------------ --------------------------- 1.9/6.0 MB 4.2 MB/s eta 0:00:01
     -------------- ------------------------- 2.2/6.0 MB 4.4 MB/s eta 0:00:01
     --------------- ------------------------ 2.3/6.0 MB 4.3 MB/s eta 0:00:01
     ----------------- ---------------------- 2.6/6.0 MB 4.4 MB/s eta 0:00:01
     ------------------ --------------------- 2.7/6.0 MB 4.2 MB/s eta 0:00:01
     --------------------- ------------------ 3.1/6.0 MB 4.5 MB/s eta 0:00:01
     ----------------------- ---------------- 3.5/6.0 MB 4.7 MB/s eta 0:00:01
     ------------------------- -------------- 3.8/6.0 MB 4.9 MB/s eta 0:00:01
     --------------------------- ------------ 4.1/6.0 MB 5.0 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 5.0 MB/s eta 0:00:01
     ------------------------------- -------- 4.6/6.0 MB 5.1 MB/s eta 0:00:01
     -------------------------------- ------- 4.8/6.0 MB 5.0 MB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 5.2 MB/s eta 0:00:01
     -------------------------------------- - 5.7/6.0 MB 5.4 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 5.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl size=1142949 sha256=9f805d8f0d44c77432716c0b35a0e5130d446dac8851f10c490ba04a3e46ecff
  Stored in directory: c:\users\pcnat\appdata\local\pip\cache\wheels\3a\7c\1e\12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [6]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\pcnat\anaconda3\lib\site-packages (1.3.9)
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.4.0-py3-none-any.whl (31 kB)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\pcnat\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Collecting ibm-db>=2.0.0 (from ibm_db_sa)
  Downloading ibm_db-3.2.0-cp311-cp311-win_amd64.whl.metadata (1.4 kB)
Downloading ibm_db-3.2.0-cp311-cp311-win_amd64.whl (27.7 MB)
   ---------------------------------------- 0.0/27.7 MB ? eta -:--:--
   ---------------------------------------- 0.1/27.7 MB 3.2 MB/s eta 0:00:09
   ---------------------------------------- 0.2/27.7 MB 2.6 MB/s eta 0:00:11
   ---------------------------------------- 0.3/27.7 MB 2.6 MB/s eta 0:00:11
    --------------------------------------- 0.6/27.7 MB 3.5 MB/s eta 0:00:08
   - -------------------------------------- 0.8/27.7 MB 3.9 MB/s eta 0:00:07
   - -------------------------------------- 1.0/27.7 MB 4.1 MB/s eta 0:00:07
   - -------------------------------------- 1.3/27.7 MB 4.2 MB/s eta 0:00:07
   -- ------------------------------------- 1.5/27.7 MB 4.4 MB/s eta 0:00:06
   -- ------------------------------------- 1.8/27.7 MB 4.7 MB/s eta 0:00:06
   --- ------------------------------------ 2.1/27.7 MB 4.9 MB/s eta 0:00:06
   --- ------------------------------------ 2.4/27.7 MB 5.0 MB/s eta 0:00:06
   ---- ----------------------------------- 2.8/27.7 MB 5.2 MB/s eta 0:00:05
   ---- ----------------------------------- 3.1/27.7 MB 5.4 MB/s eta 0:00:05
   ---- ----------------------------------- 3.1/27.7 MB 5.4 MB/s eta 0:00:05
   ---- ----------------------------------- 3.2/27.7 MB 4.7 MB/s eta 0:00:06
   ----- ---------------------------------- 3.6/27.7 MB 5.0 MB/s eta 0:00:05
   ----- ---------------------------------- 4.0/27.7 MB 5.3 MB/s eta 0:00:05
   ------ --------------------------------- 4.4/27.7 MB 5.4 MB/s eta 0:00:05
   ------ --------------------------------- 4.7/27.7 MB 5.6 MB/s eta 0:00:05
   ------- -------------------------------- 5.2/27.7 MB 5.9 MB/s eta 0:00:04
   -------- ------------------------------- 5.6/27.7 MB 6.0 MB/s eta 0:00:04
   -------- ------------------------------- 6.2/27.7 MB 6.3 MB/s eta 0:00:04
   --------- ------------------------------ 6.7/27.7 MB 6.5 MB/s eta 0:00:04
   ---------- ----------------------------- 7.2/27.7 MB 6.6 MB/s eta 0:00:04
   ----------- ---------------------------- 7.7/27.7 MB 6.9 MB/s eta 0:00:03
   ------------ --------------------------- 8.3/27.7 MB 7.1 MB/s eta 0:00:03
   ------------ --------------------------- 8.9/27.7 MB 7.3 MB/s eta 0:00:03
   ------------- -------------------------- 9.4/27.7 MB 7.4 MB/s eta 0:00:03
   -------------- ------------------------- 10.1/27.7 MB 7.7 MB/s eta 0:00:03
   --------------- ------------------------ 10.6/27.7 MB 8.4 MB/s eta 0:00:03
   ---------------- ----------------------- 11.4/27.7 MB 9.1 MB/s eta 0:00:02
   ----------------- ---------------------- 12.1/27.7 MB 9.8 MB/s eta 0:00:02
   ------------------ --------------------- 12.8/27.7 MB 10.2 MB/s eta 0:00:02
   ------------------- -------------------- 13.5/27.7 MB 11.9 MB/s eta 0:00:02
   -------------------- ------------------- 14.2/27.7 MB 12.4 MB/s eta 0:00:02
   --------------------- ------------------ 15.1/27.7 MB 13.1 MB/s eta 0:00:01
   ---------------------- ----------------- 15.9/27.7 MB 14.2 MB/s eta 0:00:01
   ----------------------- ---------------- 16.6/27.7 MB 14.6 MB/s eta 0:00:01
   ------------------------- -------------- 17.4/27.7 MB 14.9 MB/s eta 0:00:01
   -------------------------- ------------- 18.2/27.7 MB 15.2 MB/s eta 0:00:01
   --------------------------- ------------ 18.9/27.7 MB 15.6 MB/s eta 0:00:01
   ---------------------------- ----------- 19.8/27.7 MB 16.4 MB/s eta 0:00:01
   ----------------------------- ---------- 20.6/27.7 MB 16.8 MB/s eta 0:00:01
   ------------------------------- -------- 21.6/27.7 MB 17.2 MB/s eta 0:00:01
   -------------------------------- ------- 22.5/27.7 MB 17.7 MB/s eta 0:00:01
   ---------------------------------- ----- 23.8/27.7 MB 18.7 MB/s eta 0:00:01
   ----------------------------------- ---- 24.5/27.7 MB 18.7 MB/s eta 0:00:01
   ------------------------------------- -- 25.7/27.7 MB 19.3 MB/s eta 0:00:01
   ------------------------------------- -- 26.3/27.7 MB 18.7 MB/s eta 0:00:01
   ---------------------------------------  27.5/27.7 MB 19.3 MB/s eta 0:00:01
   ---------------------------------------- 27.7/27.7 MB 19.3 MB/s eta 0:00:00
Installing collected packages: ibm-db, ibm_db_sa
Successfully installed ibm-db-3.2.0 ibm_db_sa-0.4.0
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in c:\users\pcnat\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.23-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
     ---------------------------------------- 41.2/41.2 kB ? eta 0:00:00
Requirement already satisfied: six in c:\users\pcnat\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\pcnat\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\pcnat\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pcnat\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\pcnat\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\pcnat\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\pcnat\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\pcnat\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\pcnat\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\pcnat\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\pcnat\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\pcnat\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\pcnat\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\pcnat\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\pcnat\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\pcnat\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\pcnat\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\pcnat\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\pcnat\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.23-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -- ------------------------------------- 0.1/2.1 MB 2.2 MB/s eta 0:00:01
   --- ------------------------------------ 0.2/2.1 MB 3.1 MB/s eta 0:00:01
   --------- ------------------------------ 0.5/2.1 MB 4.2 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 5.3 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 7.3 MB/s eta 0:00:00
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.23 sqlparse-0.4.4

In [19]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [21]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas==1.1.5

In [ ]:
%sql sqlite:///my_data1.db

In [ ]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [ ]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [17]:
sql SELECT DISTINCT LAUNCH_SITE FROM SPACEXTBL ORDER BY 1;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [ ]:
sql SELECT * FROM SPACEXTBL WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5;

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
sql SELECT SUM(PAYLOAD_MASS__KG_) AS TOTAL_PAYLOAD FROM SPACEXTBL WHERE PAYLOAD  LIKE '%CRS%';

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
sql SELECT AVG(PAYLOAD_MASS__KG_) AS AVG_PAYLOAD FROM SPACEXTBL WHERE BOOSTER_VERSION = 'F9 v1.1';

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [ ]:
sql SELECT MIN(DATE) AS FIRST_SUCCESS_GP FROM SPACEXTBL WHERE LANDING_OUTCOME = 'Success (ground pad)';

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
sql SELECT DISTINCT BOOSTER_VERSION FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000 AND LANDING_OUTCOME = 'Success'

### Task 7




##### List the total number of successful and failure mission outcomes

In [ ]:
sql SELECT MISSION_OUTCOME, COUNT(*) AS QTY FROM SPACEXTBL GROUP BY MISSION_OUTCOME ORDER BY MISSION_OUTCOME;

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
sql SELECT DISTINCT BOOSTER_VERSION FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)  ORDER BY BOOSTER_VERSION

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [ ]:
sql SELECT BOOSTER_VERSION, LAUNCH_SITE FROM SPACEXTBL WHERE LANDING_OUTCOME = 'Failure (drone ship)' AND substr(Date,0,5) = '2015'

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [ ]:
sql SELECT LANDING_OUTCOME, COUNT(*) AS QTY FROM SPACEXTBL WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY LANDING_OUTCOME

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>